ul{
	/*background-color: blue;*/
	list-style-type: none; 
	display: inline-block;
}

*{
	padding: 0;
	margin: 0;
}
body {
    overflow-x: hidden;
}

/*	头部开始	*/
.top{
	/*background-color: white;*/
	height: 5%;
	/*width: 100%;*/
}

.top_left{
	/*background-color: grey;*/
	display: inline-block;
	margin: 1% auto auto 2%; /*顺序：上右下左*/
	height: 90%;
	width: 152px;
}

/*顶部搜索框*/
.iconfont {
    color: #000;
    text-align: center;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    font-family: 'iconfont';
}

.qa-search-wrap-left {
    display: inline-block;
    vertical-align: top;
    margin-left: 18%;
    margin-top: 27px;
}

.comp-Searcher {
    position: relative;
    width: 494px;
    height: 35px;
    border-radius: 4px;
    overflow: hidden;
}

.comp-Searcher .ipt-wrap {
    position: relative;
    background: #f8f8f8;
}

.ipt {
    /*border-radius: 5% 0 0 5%;*/
    padding: 2px 10px 2px;
    width: 430px;
    height: 35px;
    font-size: 14px;
    line-height: 28px;
    border: 0;
    color: #333;
    background: #fff;
    background: transparent;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

select, input {
    vertical-align: middle;
}

input, select, input, textarea {
    font-size: 12px;
    outline: none;
}

.comp-Searcher .right-icon {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    vertical-align: top;
    background-color: #4a8200;
    text-align: center;
    width: 64px;
    height: 35px;
    border: 0;
    outline: 0;
}

.comp-Searcher .right-icon .iconfont {
    position: relative;
    top: 1px;
    font-size: 16px;
    color: #fff;
}


/*登录注册按钮*/
.top_right{
	/*background-color: green;*/
	display: inline-block;
	margin-left: 9%;
	/*padding-left: 10%;*/
    /*padding-top: 1.5%;*/
	height: 45px;
	width: 18%;
	position: relative;	/* 子绝父相*/
}

.top_right li{
	display: inline-block;
	/*background-color: red;*/
	width: 100px;
	height: 30px;
	/*margin-top: 2.5%;*/
	/*margin-left: 20px;*/
	font-size: 20px;
	text-align: center;
    margin-right: 15px;
}

.top_right a{
	text-decoration: none;
	color: grey;
}

.ul_son{
	position: absolute;
	left: 10px;
	right: 10px;
    margin-top: 32px;
}
/*	头部结束	*/


/*菜单栏下拉开始*/
nav.navbar.bootsnav{
    border: none;
    background: none;
    margin-bottom: 150px;
}
nav.navbar.bootsnav ul.nav > li{
    margin-right: 10px;
}
nav.navbar.bootsnav ul.nav > li:before{
    content: "";
    width: 2px;
    height: 0;
    background: rgb(27, 95, 10);
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.5s ease 0s;
}
nav.navbar.bootsnav ul.nav > li:hover:before{ height: 25px; }
nav.navbar.bootsnav ul.nav > li.megamenu-fw:before{ left: 11.3%; }
nav.navbar.bootsnav ul.nav > li:after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
nav.navbar.bootsnav ul.nav > li:hover:after{
    bottom: 20px;
    opacity: 1;
}
nav.navbar.bootsnav ul.nav > li.megamenu-fw:after{ left: 11.3%; }
nav.navbar.bootsnav ul.nav > li > a{
    padding: 15px 15px 35px 15px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
nav.navbar.bootsnav ul.nav > li.dropdown > a{
    padding: 15px 30px 35px 15px;
}
nav.navbar.bootsnav ul.nav > li > a:hover{ color: rgb(5, 92, 104); }
nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    position: absolute;
    margin: 0 0 0 7px;
}
nav.navbar.bootsnav ul.nav > li.dropdown > ul{
    top: 120%;
    transition: all 0.8s ease 0s;
}
nav.navbar.bootsnav ul.nav > li.dropdown.on > ul{
    top: 100%;
}
.dropdown-menu.multi-dropdown{
    position: absolute;
    left: -100% !important;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content li{
    font-size: 14px;
    color: #6f6f6f;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 16px;
    font-weight: bold;
    color: #3f3f3f;
}
@media only screen and (max-width:990px){
    .dropdown-menu.multi-dropdown{ left: 0 !important; }
    nav.navbar.bootsnav .navbar-toggle{
        background: none;
        color: #fff;
    }
    nav.navbar.bootsnav ul.nav > li{
        margin-right: 0;
    }
    nav.navbar.bootsnav ul.nav > li:before{
        width: 0;
        height: 2px;
        background: #dca342;
        margin: 0;
        bottom: 50%;
        left: 0;
    }
    nav.navbar.bootsnav ul.nav > li:hover:before{
        width: 25px;
        height: 2px;
    }
    nav.navbar.bootsnav ul.nav > li.megamenu-fw:before{
        left: 0;
        bottom: 52%;
    }
    nav.navbar.bootsnav ul.nav > li:after,
    nav.navbar.bootsnav ul.nav > li.megamenu-fw:after{
        background: #dca342;
        margin: 0;
        bottom: 50%;
        left: auto;
        right: 0;
    }
    nav.navbar.bootsnav ul.nav > li:hover:after{
        bottom: 42%;
        right: 90%;
    }
    nav.navbar.bootsnav ul.nav > li:hover.megamenu-fw:after{
        bottom: 51.3%;
    }
    nav.navbar.bootsnav.navbar-mobile ul.nav > li > a{
        padding: 15px;
        text-align: center;
    }
    nav.navbar.bootsnav ul.nav > li > a,
    nav.navbar.bootsnav ul.nav > li > a:hover{
        color: #333;
    }
    nav.navbar.bootsnav ul.nav > li.dropdown > ul{ top: 100%; }
    nav.navbar.bootsnav ul.nav > li.dropdown.on:before,
    nav.navbar.bootsnav ul.nav > li.dropdown.on:after{
        display: none;
    }
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
        font-size: 14px;
        font-weight: normal;
    }
}     
/*菜单栏下拉结束*/          

/*修改轮播图的位置*/
.slider-pro {
    position: relative;
    margin: 0 auto;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Buttons
轮播图底部button样式控制在此
--------------------------------------------------*/
.sp-buttons {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.sp-rtl .sp-buttons {
    direction: rtl;
}

.sp-full-screen .sp-buttons {
    display: none;
}

.sp-button {
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 50%;
    margin: 4px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.sp-selected-button {
    background-color: #000;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .sp-button {
        width: 14px;
        height: 14px;
    }
}

@media only screen and (min-width: 568px) and (max-width: 768px) {
    .sp-button {
        width: 16px;
        height: 16px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
    .sp-button {
        width: 18px;
        height: 18px;
    }
}

/*房屋盒子*/
/*.container{
    background-color: green;
}
.container{
    background-color: white;
}*/

.service-area {
    padding: 100px 0px 70px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #363636;
    margin-top: 6%;
}

.section-title h2 {
    font-size: 36px;
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 50px;
}

.section-title h2:before {
    width: 200px;
    height: 1px;
    background: #868686;
    bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.section-title h2:after {
    height: 15px;
    width: 15px;
    background: #69b909;
    bottom: -12px;
    transform: rotate(45deg) translateX(-50%);
    -webkit-transform: rotate(45deg) translateX(-50%);
    -moz-transform: rotate(45deg) translateX(-50%);
}

.section-title h2:before, .section-title h2:after {
    /*这段代码是产生CSS3图形特效的关键*/
    position: absolute;
    left: 50%;
    content: "";
    z-index: 9;
}

.service-wrap {
    margin-bottom: 30px;
    border: 1px solid #e6e6e6;
}

.service-img {
    position: relative;
    overflow: hidden;
}

.service-img img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    zoom: 1;
}

input, button, img {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

.service-img ul {
    position: absolute;
    left: 20px;
    bottom: 20px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
*/

.service-img ul li span.rent {
    padding: 3px 15px;
    background: #66ad26;
    display: inline-block;
    font-size: 14px;
    color: #fff;
}

.service-img ul li p {
    display: inline-block;
    background: rgba(255, 255, 255, .8);
    padding: 3px 15px;
}

.service-img ul li p span {
    font-size: 14px;
    font-weight: 300;
}

.service-content {
    padding: 25px;
}

.service-content h3 {
    font-size: 24px;
    margin-bottom: 0px;
}

.service-content span {
    font-size: 14px;
    line-height: 20px;
    display: block;
    font-weight: 300;
    margin-bottom: 15px;
}

.service-content p {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.service-content .row span {
    display: block;
    margin: 7px 0px;
    font-size: 14px;
    font-weight: 300;
}

.service-content .row span i {
    color: #66ad26;
    font-size: 18px;
    margin-right: 5px;
}

ul.meta {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 5px 0px;
}

ul.meta li:first-child {
    padding-left: 0px;
}

ul.meta li {
    padding-left: 20px;
    font-size: 14px;
    position: relative;
    float: left;
    display: inline-block;
}

ul.meta li:before {
    position: absolute;
    left: 9px;
    top: 0;
    content: "|";
    color: #868686;
}

ul.meta li i {
    color: #69b909;
    font-size: 18px;
    margin-left: 2px;
}

/*banner模块*/
.features-area {
    padding: 100px 0px 70px;
    margin-top: 6%;
    /*margin-bottom: 3%;*/
}

.bg-img-1 {
    background: url(../images/bg/1.jpg) no-repeat center center / cover;
}

.black-opacity {
    position: relative;
    z-index: 9;
}

.black-opacity:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: .70;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

/*:before, :after {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}
*/
.features-wrap {
    margin-bottom: 30px;
    text-align: center;
}

.features-wrap i {
    font-size: 40px;
    color: #66ad26;
    margin-bottom: 15px;
}

.features-wrap h2 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}

.features-wrap p {
    color: #fff;
}

p {
    margin: 0px;
}


/*优秀房东们*/
.team-area {
    height: 900px;
    padding: 100px 0px 70px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #363636;
    margin-bottom: 5%;
}

.bg-img-2 {
    background: url(../pic/page-header.jpg) no-repeat center center / cover;
}

.section-title2 h2 {
    color: #fff;
}

.section-title h2 {
    font-size: 36px;
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 50px;
}

.section-title h2:before {
    width: 200px;
    height: 1px;
    background: #868686;
    bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.section-title h2:before, .section-title h2:after {
    position: absolute;
    left: 50%;
    content: "";
    z-index: 9;
}

:before, :after {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

.section-title h2:after {
    height: 15px;
    width: 15px;
    background: #69b909;
    bottom: -12px;
    transform: rotate(45deg) translateX(-50%);
    -webkit-transform: rotate(45deg) translateX(-50%);
    -moz-transform: rotate(45deg) translateX(-50%);
}

.team-wrap {
    background: #fff;
    margin-bottom: 30px;
}

.team-content {
    padding: 30px 20px;
}

.team-content h3 {
    font-size: 24px;
    margin-bottom: 0px;
    line-height: 24px;
}

.team-content span {
    display: block;
    line-height: 20px;
    margin-bottom: 15px;
}

.team-content p {
    margin-bottom: 25px;
}

.d-flex {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul.socil-icon li {
    margin-right: 10px;
}

ul.socil-icon li a {
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #e1e1e1;
    border-radius: 50%;
    font-size: 14px;
}

/*.team-img{
    width: 350px;
    height: 350px;
}*/

.team-img img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.d-flex a:hover {
    color: #fff;
    background-color: green;
    text-decoration: none;
}

/*页尾*/
.footer-area {
    border-top: 1px solid #D1D1D1;
    background: #555 url(../pic/bg-footer.jpg) repeat scroll 0% 0%;
    color: #535353;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


.footer {
    padding: 0px 0px 60px;
    background: rgba(255, 255, 255, 0.89) none repeat scroll 0% 0%;
}

.single-footer {
    margin-top: 35px;
}

.footer h4 {
    color: #717171;
    font-weight: 400;
    margin-top: 0px;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #878787;
    line-height: 35px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}

.footer-title-line {
    width: 100px;
    height: 2px;
    background: #FFA600;
    margin: 0px 0px 33px;
    position: relative;
    top: -2px;
}

.footer img {
    height: 32px;
}

.footer img {
    margin-bottom: 20px;
}

.footer p {
    line-height: 25px;
    font-size: 13px;
    padding-bottom: 20px;
}

.footer ol, .footer ul {
    list-style: outside none none;
}

.footer ul {
    padding: 0px;
    margin: 0px;
}

ul.footer-adress li {
    margin-bottom: -4px;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li i {
    padding-right: 10px;
    color: #000;
}

.strong {
    font-weight: 500;
}

/*页尾-第二列框*/
.footer ul li {
    margin-bottom: 5px;
}

.footer-menu{
    width: 265px;
}

.footer-menu a:hover{
     color: #d27e04;
}


.footer-menu li {
    border-bottom: 1px solid rgba(255, 171, 0, 0.31);
}

.footer ul li a {
    color: #535353;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    outline: 0;
    text-decoration: none;
}

ul.footer-blog li {
    width: 100%;
    display: table;
    margin-bottom: -20px;
}

.p0 {
    padding: 0px;
}

/*页尾--第三列*/
.footer-blog{
    width: 265px;
}
.footer-blog .blg-date {
    color: #FFF;
    background-color: #AD7206;
    padding: 2px 0 2px 0;
    font-size: 11px;
    position: relative;
    top: -22px;
    width: 100%;
}

.footer-blog img {
    width: 100%;
    height: 60px;
    margin-bottom: 0px;
}

.footer-blog .blg-entry h6 {
    padding: 2px 0px;
    margin: 0px;
}

h6, .h6 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-blog .blg-entry h6 a {
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600;
    color: #FFA600;
}

.footer-blog p {
    line-height: 17px;
    padding: 8px 2px;
}

/*页尾-第四列*/
.single-footer {
    margin-top: 35px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.social ul {
    padding: 0px;
    list-style: outside none none;
}

.social li {
    display: inline-block;
    padding-right: 0.3em;
    padding-bottom: 0.3em;
}

.social ul li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(146, 146, 146);
    transition: all 0.8s ease 0s;
    color: rgb(146, 146, 146);
}

.social ul li a i {
    color: rgb(146, 146, 146);
    font-size: 20px;
    padding: 10px;
}

.news-letter .form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #E1E1E1;
    background-color: rgba(255, 255, 255, 0.52);
    background-image: none;
    border: 1px solid rgba(231, 157, 45, 0.3);
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(179, 179, 179, 0.1) inset;
}

.footer .subscribe {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 22px;
    font-size: 14px;
    margin-left: -17px;
    z-index: 99;
    background-color: #FFA600;
    border-color: #FFA600;
}

.input-group-btn .btn {
    background-color: #FFC500;
    border-color: #FFC500;
    border-radius: 0px;
    height: 44px;
    color: #FFF;
}

.input-group-btn>.btn {
    position: relative;
}

.pe-2x {
    font-size: 2em;
}

[class^="pe-7s-"], [class*=" pe-7s-"] {
    display: inline-block;
}
